:host {
  display: block;
  height: 100vh;
  background: url('/assets/images/admin-login1.png') no-repeat center center fixed;
  background-position: right;
  background-size: 60%;
  background-color: rgba(154, 215, 204, 0.591)
}

.login-container {
  width: 300px;
  margin: 200px 200px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: linear-gradient(rgb(111, 226, 165), rgb(0, 0, 0));
  position: fixed;
  text-align: center;
  opacity: 0.9;
}
.login-container input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
  background: rgba(0, 0, 0, 0.537);
  color: white;
}
.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
