<nav class="navbar">
  <div class="logo"><img src="/assets/images/logo2.png"></div>
  <ul class="nav-links">
    <li><a routerLink="/" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/drivers" routerLinkActive="active">Drivers</a></li>
    <li><a routerLink="/riders" routerLinkActive="active">Riders</a></li>
    <li><a routerLink="/services" routerLinkActive="active">Services</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About Us</a></li>
  </ul>

  <div class="nav-actions">
    <!-- Login Dropdown -->
    <div class="dropdown">
      <button class="btn">👤 Login <i class="arrow down"></i> </button>
      <div class="dropdown-content">
       <a routerLink="/login-user">User Login</a>
       <a routerLink="/login-driver">Driver Login</a>
      </div>
    </div>

    <!-- Sign In Button -->
    <a routerLink="/signin" class="sign-btn">Sign In</a>
  </div>
</nav>
