<!-- Our Key Features Section -->
<section class="key-features">
  <h2>Our Key Features</h2>
  <div class="features-grid">
    <div class="feature-box"> 
      <img src="assets/images/booking.png">
      <div class="feature-text">
        <strong> Instant Cab Booking</strong> <p>Book a cab anytime with just a few clicks.</p> 
      </div>
    </div>

    <div class="feature-box"> 
      <img src="assets/images/scheduling.png">
      <div class="feature-text">
        <strong>Ride Scheduling</strong> <p> Schedule rides in advance for early mornings, airport drops, or appointments.</p>
      </div> 
    </div>

    <div class="feature-box"> 
      <img src="assets/images/tracking-app.png">
      <div class="feature-text">
        <strong>Live Tracking </strong> <p> Track your cab in real-time with driver details and ETA.</p>
      </div>
    </div>

    <div class="feature-box"> 
      <img src="assets/images/clock.png">
      <div class="feature-text">
        <strong>Trip History</strong> <p> View your past rides, routes, and fares in detail.</p> 
      </div>
    </div>

    <div class="feature-box"> 
      <img src="assets/images/review.png">
      <div class="feature-text">
       <strong>Driver Reliability Score</strong> <p> Know how reliable your driver is before booking.</p>
      </div>
    </div>

    <div class="feature-box"> 
      <img src="assets/images/mobile.png">
      <div class="feature-text">
        <strong>AI-Powered Safety Alerts</strong> <p> Get notified if the cab deviates from the route, with an SOS option.</p> 
      </div>
    </div>

    <div class="feature-box"> 
      <img src="assets/images/transaction.png">
      <div class="feature-text">
        <strong>Secure Payments</strong> <p> Multiple options like UPI, Cards, and Cash.</p> 
      </div>
    </div>

    <div class="feature-box"> 
      <img src="assets/images/customer-service.png">
      <div class="feature-text">
        <strong>24/7 Support</strong> <p> Always available to assist you.</p>
      </div>
    </div>
  </div>
</section>
