  <!-- Sidebar -->
  <div class="sidebar">
    <h2>CabMate</h2>
    <p>Admin Dashboard</p>
    <hr>
    <ul>
      <h3>MANAGEMENT</h3>
    <li>
      <a routerLink="/admin/dashboard" routerLinkActive="active">
        <img src="assets/images/dashboard.png" style="height:25px; width:25px">
        Dashboard
      </a>
    </li>

    <li>
      <a routerLink="/admin/drivers" routerLinkActive="active">
        <img src="assets/images/driver.png">
        Drivers
      </a>
    </li>

    <li>
      <a routerLink="/admin/users" routerLinkActive="active">
        <img src="assets/images/user.png">
        Users
      </a>
    </li>

    <li>
      <a routerLink="/admin/vehicles" routerLinkActive="active">
        <img src="assets/images/car.png">
        Vehicles
      </a>
    </li>

    <li>
      <a routerLink="/admin/fares" routerLinkActive="active">
        <img src="assets/images/fare.png">
        Fares & Rides
      </a>
    </li>

    <li>
      <a routerLink="/admin/support" routerLinkActive="active">
        <img src="assets/images/supportticket.png">
        Support
      </a>
    </li>
    </ul>
  </div>